---
import Layout from "@layouts/BaseLayout.astro";
---

<Layout title="404: Not Found" description="The page you are looking for does not exist.">
    <div class="mx-4 mt-20 text-center">
        <h1 class="mb-2 text-6xl">404</h1>
        <p>You just hit a route that doesn&#39;t exist... the sadness.</p>
    </div>
</Layout>
