---
// pages/index.astro
import Layout from "@layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@shared/constants";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <div class="flex">
        <div class="m-auto w-full max-w-6xl p-6">
            <h1 class="mb-2 text-4xl">Hello world!</h1>
            <p>I'm Quetzal Rivera, a .NET Developer who is currently focusing on web development.</p>
            <p>This is my personal website and yes, I know this place looks a little empty now, because I haven't much content to share yet.</p>
            <p>
                If you are interested, you can explore my <a href="/blog" class="underline">blog</a> or one of my <a href="/projects" class="underline">projects</a>. Maybe you'll find something interesting here. I will be adding more
                content in the future.
            </p>
        </div>
    </div>
</Layout>
